In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np


name=[]
rating=[]
reviews=[]
service = []
employees = []
ownership = []
age = []
location = []


header = {'User-Agent': 'you user agent'}


for page in range(1,51):
    print(f"################# {page} #########################")
    webpage=requests.get(f"https://www.ambitionbox.com/list-of-companies?page={page}",headers=header).text
    soup=BeautifulSoup(webpage,'lxml')

    container = soup.find_all('div', class_='companyCardWrapper')
    for i in container:
        all_data = i.find('span',class_='companyCardWrapper__interLinking').text.strip()
        parts = all_data.split(" | ")

        if len(parts)==5:
            name.append(i.find('h2').text.strip())
            rating.append(i.find('span',class_='companyCardWrapper__companyRatingValue').text.strip())
            reviews.append(i.find('span',class_='companyCardWrapper__ActionCount').text.strip())

            service.append(parts[0])
            employees.append(parts[1])
            ownership.append(parts[2])
            age.append(parts[3].split()[0])
            location.append(parts[-1].split()[0])

        
df=pd.DataFrame({
   'name':name,
   'rating':rating,
   'reviews':reviews,
   'company_type':service,
   'Head_Quarters':location,
   'Company_Age':age,
   'No_of_Employee':employees,
   'Company_Sector':ownership
   })

################# 1 #########################
################# 2 #########################
################# 3 #########################
################# 4 #########################
################# 5 #########################
################# 6 #########################
################# 7 #########################
################# 8 #########################
################# 9 #########################
################# 10 #########################
################# 11 #########################
################# 12 #########################
################# 13 #########################
################# 14 #########################
################# 15 #########################
################# 16 #########################
################# 17 #########################
################# 18 #########################
################# 19 #########################
################# 20 #########################
################# 21 #########################
################# 22 #########################
################# 23 #########################
################# 24 #########################
################# 25 #########################
################# 26 #########################
################# 27 #########################
################# 28 #########################
################# 29 #########################
################# 30 #########################
################# 31 #########################
################# 32 #########################
################# 33 #########################
################# 34 #########################
################# 35 #########################
################# 36 #########################
################# 37 #########################
################# 38 #########################
################# 39 #########################
################# 40 #########################
################# 41 #########################
################# 42 #########################
################# 43 #########################
################# 44 #########################
################# 45 #########################
################# 46 #########################
################# 47 #########################
################# 48 #########################
################# 49 #########################
################# 50 #########################

In [2]:
df

,name,rating,reviews,company_type,Head_Quarters,Company_Age,No_of_Employee,Company_Sector
0,TCS,3.8,74.6k,IT Services & Consulting,Mumbai,56,1 Lakh+ Employees,Public
1,Accenture,4.0,47.3k,IT Services & Consulting,Dublin,35,1 Lakh+ Employees,Public
2,Cognizant,3.9,42.6k,IT Services & Consulting,Teaneck.,30,1 Lakh+ Employees,Forbes Global 2000
3,Wipro,3.8,40.1k,IT Services & Consulting,Bangalore/Bengaluru,79,1 Lakh+ Employees,Public
4,Capgemini,3.9,34.7k,IT Services & Consulting,Paris,57,1 Lakh+ Employees,Public
...,...,...,...,...,...,...,...,...
591,Pernod Ricard,3.9,725,Beverage,Paris,49,1k-5k Employees,Forbes Global 2000
592,Metropolis Healthcare,4.1,722,Healthcare,Mumbai,44,1k-5k Employees,Conglomerate
593,Uber,4.3,728,Internet,San,15,1k-5k Employees,Public
594,Mu Sigma,2.9,734,Analytics & KPO,Northbrook,20,1k-5k Employees,Indian Unicorn
595,Better.com,3.0,718,Financial Services,New,8,1k-5k Employees,Startup

In [ ]:
df.to_csv("company.csv",index=False)